<div {{ this.bbcontent(null)|raw }}>
    <div id="disqus_thread" class="disqus-block">
      <div id="disqus_thread_loader">{{ this.trans('disqus.loading_comments') }}</div>
    </div>

    {% if disqusId.value is not empty and (' ' in disqusId.value|trim) == false %}
        <script>
          (function () {
            var disqus_observer = new IntersectionObserver(function(entries) {
            // comments section reached
            // start loading Disqus now
            if(entries[0].isIntersecting) {
              if (!document.getElementById('cloud-disqus')) {
                window.disqus_config = function () {
                  this.page.url = '{{ this.getUri(this.getCurrentPage().getUrl()) }}'
                  this.page.identifier = '{{ this.getCurrentPage().getUid() }}'
                };

                (function () {
                  var d = document, s = d.createElement('script')

                  s.src = '//{{ disqusId.value }}.disqus.com/embed.js'

                  s.setAttribute('data-timestamp', +new Date())
                  s.setAttribute('id', 'cloud-disqus');
                  (d.head || d.body).appendChild(s)
                })()
              } else {
                if (window.DISQUS) {
                  DISQUS.reset({
                    'reload': true
                  })
                }
              }

              {% if bb.token != null %}
                setTimeout(function () {
                  window.dndZone.apply()
                }, 3000)
              {% endif %}

                // once executed, stop observing
                disqus_observer.disconnect();
              }
            }, { threshold: [0] });
            disqus_observer.observe(document.querySelector("#disqus_thread"));
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
    {% else %}
        {% include 'common/missing_config_block.html.twig' %}
    {% endif %}
</div>
