{% set button_settings = this.getDesignSettings('button') %}

<div data-mobile-edit="false" {{this.bbcontent(null, {class: 'content card-block'})|raw}}>
  {% if button_description.value == null and url.value != null %}<a {% if bb.token == null %}href="{{ url.value }}" {% endif %}class="card-link"{% if target_blank.value %} target="_blank" {% endif %}>{% endif %}
  <div class="card has-sub-elements">
    {{ this.render(image, null, {'forbiddenPlugins': 'remove,dnd,parameter', class: 'mb-0', 'in_fluid': in_fluid, 'colsize': colsize})|raw }}

    <div class="card-body text-{{ align.value }}{% if add_button.value %} has-btn{% endif %}">
      <div class="card-text paragraph" data-parameter-rte="true" data-parameter-name="description" data-cloud-rte="true">
        {{ this.getObject().getParamValue('description')|raw }}
      </div>

      {% if add_button.value and (button_description.value or bb.token != null) %}
        <a
          href="{{ url.value }}"
          class="btn color-primary {{ color.value }} btn-{{ button_settings.shape }} mt-3"
          {% if target_blank.value %}target="_blank"{% endif %}
          {% if button_settings.font %}style="font-family: {{ button_settings.font }}"{% endif %}
        >
          {{ button_description.value }}
        </a>
      {% endif %}
    </div>
  </div>
  {% if button_description.value == null and url.value != null %}</a>{% endif %}
</div>
