<footer id="footer" class="footer footer-wrapper" role="contentinfo">
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {{this.render(this.globalContentFactory().getFooterLogo(), 'logo_footer')|raw}}
        </div>
      </div>
          <div class="row">
        <div class="col-md-12 text-center">
          {{this.render(this.globalContentFactory().getFooterContent('social', 'Social/Icons'), 'fix')|raw}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          {{this.render(this.globalContentFactory().getFooterContent('address', 'Text/Paragraph'), 'fix')|raw}}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="footer-copyright-left mr-lg-auto pr-sm-5">
          {{this.render(this.globalContentFactory().getFooterContent('copyright', 'Text/Paragraph'), 'copyright')|raw}}
        </div>
        <div class="footer-copyright-right ml-lg-auto d-flex align-items-center">
          {{this.render(this.globalContentFactory().getFooterMenu(), 'footer')|raw}}
        </div>
      </div>
    </div>
  </div>
</footer>
