<nav {{this.bbcontent(null)|raw}} itemscope itemtype="//schema.org/SiteNavigationElement">
  <ul class="nav navbar-nav navbar-right">
    {% for item in items %}
      {% include 'Basic/Menu.item.html.twig' with {'item': item} %}
    {% endfor %}

    {% set current_lang = this.getCurrentLang() %}
    {% set actives_lang = this.getActiveLangs() %}
    {% if current_lang and actives_lang|length > 1 %}
      {# Langs selector for desktop #}
      <li class="dropdown hidden-xs langs-dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{current_lang|upper}}
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          {% for lang in actives_lang %}
          {% if current_lang != lang.id %}
            <li><a href="{{this.getHomeUrl(lang.id)}}">{{lang.id|upper}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>

      {# Langs selector for mobile #}
      <li class="hidden-sm hidden-md hidden-lg">
        <select class="langs-selector">
          <option disabled selected>{{current_lang|upper}}</option>
          {% for lang in actives_lang %}
          {% if current_lang != lang.id %}
            <option><a href="{{this.getHomeUrl(lang.id)}}">{{lang.id|upper}}</a></option>
          {% endif %}
          {% endfor %}
        </select>
      </li>
    {% endif %}
    {% if button_title.value%}
      <div class="button">
        <a href="{{button_url.value}}"
        {% block data_attributes %}{% endblock %}
        {% if button_target_blank.value == true %}target="_blank"{% endif %}
        class="btn btn-{{ button_color.value }} btn-xs btn-{{ button_form.value == false ? 'border' : 'full' }} {{ button_font.value }} {{ button_radius.value == false ? 'no-radius' : '' }}"
        >
          {{button_title.value|raw}}
        </a>
      </div>
      <script type="text/javascript">
        var init = function() {
          $('.navbar-header').find('.button').remove();
          $('.navbar-toggle').after($('#navbar-primary').find('.button').clone());
        }

        if (window.$) {
          init();
        } else {
          document.addEventListener('DOMContentLoaded', init, true);
        }
      </script>
    {% endif %}
  </ul>
</nav>
