<div id="navbar-primary" {{this.bbcontent(null, {class: 'collapse navbar-collapse navbar-primary navigation-default'})|raw}} itemscope itemtype="//schema.org/SiteNavigationElement">
  <ul class="navbar-nav {{ nav_position_left.value == false ? 'ml-auto' : 'mr-auto' }}">
    {% for item in items %}
      {% include 'Basic/Menu.item.html.twig' with {'item': item} %}
    {% endfor %}

    {% set current_lang = this.getCurrentLang() %}
    {% set actives_lang = this.getActiveLangs() %}
    {% if current_lang and actives_lang|length > 1 %}
      {# Langs selector for desktop #}
      <li class="dropdown langs-dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{current_lang|upper}}
          <span class="caret"></span>
        </a>

        <div class="dropdown-menu">
          {% for lang in actives_lang %}
          {% if current_lang != lang.id %}
            {% set page_url = multilang_equivalent_pages[lang.id] is defined
              ? multilang_equivalent_pages[lang.id].getUrl()
              : this.getHomeUrl(lang.id)
            %}
            <a class="dropdown-item" href="{{ page_url }}">
              {{ lang.id|upper }}
            </a>
          {% endif %}
          {% endfor %}
        </div>
      </li>

      {# Langs selector for mobile #}
      <li class="d-none">
        <select class="langs-selector">
          <option disabled selected>{{current_lang|upper}}</option>
          {% for lang in actives_lang %}
          {% if current_lang != lang.id %}
            <option><a href="{{this.getHomeUrl(lang.id)}}">{{lang.id|upper}}</a></option>
          {% endif %}
          {% endfor %}
        </select>
      </li>
    {% endif %}
  </ul>
  {% if button_hide_on_mobile.value == false or this.userAgentHelper().isMobile() == false %}
    {% if add_button.value and (button_title.value or bb.token != null) %}
      {% set button_settings = this.getDesignSettings('button') %}

      <form class="btn-menu form-inline my-2 my-lg-0">
        <a
          href="{{ button_url.value }}"
          role="button"
          {% block data_attributes %}{% endblock %}
          {% if button_target_blank.value == true %}target="_blank"{% endif %}
          class="my-2 my-sm-0 btn color-primary {{ button_color.value }}{{ button_form.value == false ? ' btn-outline' }} btn-{{ button_settings.shape }}"
          {% if button_settings.font %}style="font-family: {{ button_settings.font }}"{% endif %}
        >
          {{ button_title.value|raw }}
        </a>
      </form>
      <script type="text/javascript">
        var init = function() {
          $('.btn-menu-wrapper').find('.btn-menu').remove();
          $('.navbar-toggler').before($('#navbar-primary').find('.btn-menu').clone());
          $('.navbar-toggler').prev('.btn-menu').wrap('<div class="btn-menu-wrapper ml-auto mr-3"></div>');
        }

        if (window.$) {
          init();
        } else {
          document.addEventListener('DOMContentLoaded', init, true);
        }
      </script>
    {% endif %}
  {% endif %}
</div>
