{% set height = this.getObject().getParamValue('height') %}

{% if height is empty %}
    {% set height = 'auto' %}
{% else %}
    {% set height = height ~ 'px' %}
{% endif %}

{% if not this.userAgentHelper.isDesktop() %}
    {% if show_on_mobile.value == true %}
        <div data-mobile-edit="false" {{this.bbcontent(null, {'class': 'cloud-spacer w-100'})|raw}} style="height: {{height / 2}}px; min-height: 20px"></div>
    {% else %}
        <div data-mobile-edit="false" {{this.bbcontent(null, {'class': 'cloud-spacer w-100'})|raw}} style="display:none;"></div>
    {% endif %}
{% else %}
    <div data-mobile-edit="false" {{this.bbcontent(null, {'class': 'cloud-spacer w-100'})|raw}} style="height: {{height}};"></div>
{% endif %}