{% set settings = this.getDesignSettings('button') %}

<div data-mobile-edit="false" data-forbidden-plugins="dnd,remove" {{this.bbcontent(null, {class: 'content button text-' ~ align.value})|raw}}>
  <a href="{{url.value}}"
    {% block data_attributes %}{% endblock %}
    {% if target_blank.value == true %}target="_blank"{% endif %}
    class="btn color-primary {{ color.value }} btn-{{ size.value }} btn-{{ form.value == false ? 'outline' }} btn-{{ settings.shape }}"
    onclick="return false;"
    {% if settings.font %}style="font-family: {{ settings.font }}"{% endif %}
  >
    {{ title.value|default('Button title')|raw }}
  </a>
</div>
