<!DOCTYPE html>
{% set global_content_settings = this.getDesignSettings('global_content') %}
{% set has_header_margin = global_content_settings['has_header_margin'] %}
<html lang="{{ this.getCurrentLang.getCode() ?: 'fr' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0"/>
    <link rel="canonical" href="{{ bb.routing.getUri(this.getCurrentPage().getUrl(), '', this.getCurrentSite()) }}"/>

    {{ this.knowledgeGraphHelper.getSeoMetadata(this.getCurrentPage)|raw }}
    {{ this.knowledgeGraphHelper.getMetaGoogleSiteVerification()|raw }}
    {{ this.knowledgeGraphHelper.getGraph(this.getCurrentPage)|raw }}

    <!--##FAVICON_SPOT##-->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ this.getCdnUri('/css/gen.css') }}">
{% endblock %}

    <script>
      window.onDocumentReady=function(fn){if(typeof fn!=='function'){return}
        if(window.document.readyState==='complete'){return fn()}
        window.document.addEventListener('DOMContentLoaded',fn,!1)}
    </script>
    {# ANALYTICS TOOLS - Google Analytics, Google Tag Manager and Facebook Analytics - can be disabled #}
{% if bb.token == null %}
{% include 'Analytic/GoogleAnalytics.html.twig' with {
    'google_analytics_code': google_analytics_code,
    'disable_google_analytics': disable_google_analytics
} %}
{% include 'Analytic/GoogleTagManager.html.twig' with {
    'gtm_code': gtm_code,
    'disable_gtm': disable_gtm
} %}
{% include 'Analytic/Matomo.html.twig' with {
    'matomo_tracker_url': matomo_tracker_url,
    'matomo_site_id': matomo_site_id
} %}
{% endif %}

{% block header_tag %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
{{ this.bbToolbar()|raw }}

<div id="fb-root"></div>

<div id="bb-site-wrapper"
     class="bb-site-wrapper{% if has_header_margin %} offset-main{% endif %} {{ bb.token ? 'cloud-edit' : '' }}">
    <!-- JS Alert -->
    <noscript>
        <p><span lang="fr">JavaScript désactivé - Ce site requiert l'activation de JavaScript.</span><br><span
                    lang="en">JavaScript is deactivated - This site requires JavaScript.</span></p>
    </noscript>
    <!-- -->

    <!--[if lt IE 9]>
    <div class="browser-ie-alert">
        <p lang="fr">Ce site requiert Microsoft Internet Explorer 9 minimum. SVP, mettez-le à jour.</p>
        <p lang="en">This website requires Microsoft Internet Explorer browser 9 minimum; please update.</p>
    </div>
    <![endif]-->

    {% block main_content %}
        {{ this.render(this.globalContentFactory().getHeader(), 'header', {'multilang_equivalent_pages' : multilang_equivalent_pages})|raw }}

        <main class="main" role="main" id="content" dir="{{ this.getCurrentLang.getCode() == 'ar' ? 'rtl' : 'ltr' }}">
            {% block content %}{% endblock %}
        </main>

        {{ this.render(this.globalContentFactory().getFooter())|raw }}
    {% endblock %}

    {% if this.isPrivacyPolicyEnabled() %}
        {% if
            banner_message is defined
            and banner_message
            and learn_more_url is defined
            and learn_more_url
            and learn_more_link_title is defined
            and learn_more_link_title %}
            <div id="privacy-policy-banner" class="d-none">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="cookie-text">
                        {{ banner_message }}
                        <a href="{{ learn_more_url }}">{{ learn_more_link_title }}</a>
                    </div>
                    <button class="btn btn-outline-light valid">OK</button>
                </div>
            </div>
        {% elseif bb.token %}
            <div id="privacy-policy-banner" class="missing-config">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="cookie-text" data-cloud-trans="missing_privacy_policy_banner_config"></div>
                    <button class="btn btn-outline-light p-2 cloud-close"><i class="icon icon-times"></i></button>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {# LOGIN HELPER POPIN - can disable it by defined 'disable_login_helper' and set it to true #}
    {% if
        bb.token == null
        and (
        disable_login_helper is not defined
        or disable_login_helper == false
        ) %}
        <div class="admin-help-wrapper d-none">
            <div class="admin-help-wrapper-inner">
                <div class="cover-container">
                    <h2><span class="admin-help-title"></span></h2>
                    <p class="lead desktop hidden"><span class="admin-help-desktop-action"></span> <span
                                class="keyboard-touch">CTRL + ALT + B</span></p>
                    <p class="lead mobile hidden"><span class="keyboard-touch"><span
                                    class="admin-help-mobile-action"></span></span></p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% block javascripts %}
    <script src="{{ this.getCdnUri('/js/theme-bottom.min.js') }}"></script>
{% endblock %}
</body>
</html>
