<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>{% block title %}Error - {{this.getApplication().getSite().getLabel()}}{% endblock %}</title>

    <link rel="stylesheet" href="{{this.getCdnUri('/css/gen.css')}}">
    <link rel="stylesheet" href="{{this.getCdnUri('/static/css/cover.css')}}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead">
            {{this.render(this.globalContentFactory().getHeader())|raw}}
          </div>

          <h1>{% block error_title %}Error{% endblock %}</h1>
          <p class="reason"><em>{% block error_message %}Oops, it seems that something went wrong… try to refresh page or click on the button below.{% endblock %}</em></p>
          <a href="/" class="btn btn-primary btn-md">{% block button_title %}BACK TO HOMEPAGE{% endblock %}</a>
        </div>
      </div>
    </div>

    {{this.render(this.globalContentFactory().getFooter())|raw}}

    <script src="{{this.getCdnUri('/js/theme-bottom.min.js')}}"></script>
  </body>
</html>
