<li class="list-inline-item">
    <a
        {% block data_item_attributes %}{% endblock %}
        {% if bb.token == null %}href="{{social.url}}"{% endif %}
        target="_blank"
        rel="nofollow"
        class="social-icon-{{key}} btn {{color.value}} btn-{{ form.value == false ? 'outline' }}"
    >
        <i class="social_{{key}}"></i>
    </a>
</li>
