<header data-forbidden-plugins="remove" {{ this.bbcontent(null, {'class': 'article-header text-center'})|raw }}>
  <nav>
    <ul class="pager pager-news">
      {% if prev != null %}
        <li class="previous">
          <a href="{{ prev.url }}" title="{{ prev.title }}" {% block data_prev_attributes %}{% endblock %}>
            <span class="icon arrow_carrot-left" aria-hidden="true"></span>
          </a>
        </li>
      {% endif %}
      {% if next != null %}
      <li class="next">
        <a href="{{ next.url }}" title="{{ next.title }}" {% block data_next_attributes %}{% endblock %}>
          <span class="icon arrow_carrot-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <h1 data-cloud-rte="true">{{ value|raw }}</h1>
  <div class="cloud-spacer"></div>

  {% if show_tags.value == true or show_date.value == true %}
    <p class="metadata-wrapper">
      {% if show_tags.value == true %}
        {% set current_lang = this.getCurrentLang() %}
        {% for tag in this.getPageTags(this.getCurrentPage()) %}
          {% set route_name = 'cloud.search_by_tag' ~ (current_lang ? '_i18n' : '') %}
          <span class="metadata-tag"><a href="{{ this.generateUrlByRouteName(route_name, {'lang': current_lang, 'tagName': tag|lower|url_encode}, null, false) }}">{{ tag }}</a></span>
        {% endfor %}
      {% endif %}
      {% if show_date.value == true %}
        {% set publishing = this.getCurrentPage().getPublishing() %}
        {{(publishing ? '<time class="time metadata-time" itemprop="datePublished" datetime="' ~ publishing.format('c') ~ '">' ~ publishing.format('Y.m.d - H:i') ~ '</time>' : '<em class="metadata-time" data-cloud-trans="not_yet_published">Not yet published</em>')|raw}}
      {% endif %}
    </p>
  {% endif %}
</header>
