<header data-forbidden-plugins="remove" {{ this.bbcontent(null, {'class': 'article-header text-center'})|raw }}>
  <nav>
    <ul class="pager list-unstyled text-center">
      {% if prev != null %}
        <li class="previous float-left">
          <a href="{{ prev.url }}" title="{{ prev.title }}" {% block data_prev_attributes %}{% endblock %}>
            <span class="arrow_carrot-left" aria-hidden="true"></span>
          </a>
        </li>
      {% endif %}
      {% if next != null %}
      <li class="next float-right">
        <a href="{{ next.url }}" title="{{ next.title }}" {% block data_next_attributes %}{% endblock %}>
          <span class="arrow_carrot-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <div class="article-title{% if prev != null %} ml-article-title{% endif %}{% if next != null %} mr-article-title{% endif %}">
    <h1 data-cloud-rte="true" class="title text-{{align.value}}">{{ value|raw }}</h1>
    <div class="bb-spacer"></div>

    {% if show_tags.value == true or show_date.value == true %}
      <p class="metadata-wrapper text-{{align.value}}">
        {% if show_date.value == true %}
          {% set publishing = this.getCurrentPage().getPublishing() %}
          {{(publishing ? '<time class="time metadata-time" itemprop="datePublished" datetime="' ~ publishing.format('c') ~ '">' ~ publishing|localizeddate('short', 'short', locale=(this.getCurrentLang.getCode()|lower)) ~ '</time>' : '<em class="metadata-time" data-cloud-trans="not_yet_published">Not yet published</em>')|raw}}
        {% endif %}
        {% if show_tags.value == true %}
          {% set current_lang = this.getCurrentLang.getCode() %}
          {% for tag in this.getPageTags(this.getCurrentPage(), true) %}
            {% set route_name = 'cloud.search_by_tag' ~ (current_lang ? '_i18n' : '') %}
            <span class="metadata-tag"><a href="{{ this.generateUrlByRouteName(route_name, {'lang': current_lang, 'tagName': tag.keyWord|lower|url_encode}, null, false) }}">{{ this.getTagTranslation(tag, current_lang) }}</a></span>
          {% endfor %}
        {% endif %}
      </p>
    {% endif %}
  </div>
</header>
