{% if image.url != false and display_image == true %}
<div class="row">
  <div class="col-md-3">
    <a {% block data_item_image_attributes %}{% endblock %} href="{{url}}" aria-label="{{title|striptags|raw}}">
        <img src="{{this.getCdnImageUrl(this.getOptimizeImagePathHelper(image.url, false, 4))}}" class="img-responsive" alt="{{image.alt|raw}}" loading="lazy" />
    </a>
  </div>
  <div class="col-md-9">

    <h4 class="autoblock-title{% if reduce_title_size %} reduce-title{% endif %}">
      <a
        {% block data_item_title_attributes %}{% endblock %}
        href="{{url}}"
        aria-label="{{title|striptags|raw}}"
        {% if is_online == false %} title="This page is offline"{% endif %}
      >
        <span class="{{is_online == false ? 'offline autoblock-item' : ''}}">
          {% if title_max_length > 0 %}
            {{this.perfectTruncate(title, title_max_length)}}
          {% else %}
            {{title|striptags|raw}}
          {% endif %}
        </span>
      </a>
    </h4>

    <p>
    {% if abstract_max_length > 0 %}
      {{this.perfectTruncate(abstract, abstract_max_length)}}
    {% else %}
      {{abstract|striptags|raw}}
    {% endif %}
    </p>
  </div>
</div>
{% else %}
{% include 'ContentAutoblock/item_without_image.html.twig' %}
{% endif %}
