<div class="image-text-vertical">
    <div class="row">
        <div class="col-md-4">
            {% if image.url != false %}
            <a {% block data_item_image_attributes %}{% endblock %} href="{{url ~ (autoblock_id ? '?context=' ~ autoblock_id : '')}}">
                <figure class="figure push-image" style="background-image: url({{this.getCdnImageUrl(this.getOptimizeImagePathHelper(image.url, false, 4))}});">
                    <div class="contentwrapper">
                        {% set img_alt = image.getParamValue('description') != false ? abstract|striptags|raw %}
                        <img src="{{this.getCdnImageUrl(this.getOptimizeImagePathHelper(image.url, false, 4))}}" class="img-responsive image-resize d-none" alt="{{img_alt}}" />
                        {% if image.is_video_thumbnail %}
                            <span class="picto-video"><i></i></span>
                        {% endif %}
                    </div>
                </figure>
            </a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h4 class="autoblock-title{% if reduce_title_size %} reduce-title{% endif %}">
                <a
                    {% block data_item_title_attributes %}{% endblock %}
                    href="{{url ~ (autoblock_id ? '?context=' ~ autoblock_id : '')}}"
                    {% if is_online == false %} title="This page is offline"{% endif %}
                >
                    <span class="{{is_online == false ? 'offline autoblock-item' : ''}}">
                        {% if title_max_length > 0 %}
                            {{this.perfectTruncate(title, title_max_length)}}
                        {% else %}
                            {{title|striptags|raw}}
                        {% endif %}
                    </span>
                </a>
            </h4>
            {% if display_published_at %}
            <p class="metadata-wrapper">
                {{(publishing ? '<time class="time metadata-time" pubdate="' ~ publishing.format('c') ~ '">' ~ publishing|localizeddate('short', 'none', locale=(this.getCurrentLang.getCode()|lower)) ~ '</time>' : '<em>Not yet published.</em>')|raw}}
            </p>
            {% endif %}
            {% if display_abstract %}
            <p class="abstract">
            {% if abstract_max_length > 0 %}
              {{this.perfectTruncate(abstract, abstract_max_length)}}
            {% else %}
              {{abstract|striptags|raw}}
            {% endif %}
            </p>
            {% endif %}
        </div>
    </div>
</div>
