<div class="image-text-horizontal">
    {% if image.url != false %}
    <figure class="figure push-image">
        <div class="contentwrapper">
            {% set img_alt = image.getParamValue('description') != false ? abstract|striptags|raw %}
            <a {% block data_item_image_attributes %}{% endblock %} href="{{url ~ (autoblock_id ? '?context=' ~ autoblock_id : '')}}">
                <img src="{{this.getCdnImageUrl(image.url)}}" class="img-responsive" alt="{{img_alt}}" />
                {% if image.is_video_thumbnail %}
                    <span class="picto-video"><i></i></span>
                {% endif %}
            </a>
        </div>
    </figure>
    {% endif %}

    <h3 {% if reduce_title_size %}class="reduce-title"{% endif %}>
        <a {% block data_item_title_attributes %}{% endblock %} href="{{url ~ (autoblock_id ? '?context=' ~ autoblock_id : '')}}">
        {% if title_max_length > 0 %}
            {{this.perfectTruncate(title, title_max_length)}}
        {% else %}
            {{title|striptags|raw}}
        {% endif %}
        </a>
    </h3>

    {% if display_published_at %}
    <p class="metadata-wrapper">
        {{(publishing ? '<time class="time metadata-time" pubdate="' ~ publishing.format('c') ~ '">' ~ publishing.format('Y.m.d') ~ '</time>' : '<em>Not yet published.</em>')|raw}}
    </p>
    {% endif %}

    {% if display_abstract %}
    <p>
    {% if abstract_max_length > 0 %}
      {{this.perfectTruncate(abstract, abstract_max_length)}}
    {% else %}
      {{abstract|striptags|raw}}
    {% endif %}
    </p>
    {% endif %}
</div>

