{% if bb.token != null or path != null %}

{% set resizeClass = 'image-fullwidth' %}
{% set autoSizeClass = this.getObject().getParamValue('auto_height') ? ' image-auto-height' : '' %}
{% set autoSizeClass = this.getObject().getParamValue('stretch') ? ' image-auto-width' : autoSizeClass %}

{% if multi_column == true %}
  {% set resizeClass = 'image-resize' %}
{% endif %}

{% set linkValue = link.value %}

{% if path != null and bb.token == null and linkValue.link == 'lightbox' %}<a href="{{this.getCdnImageUrl(path)|raw}}" data-lightbox="lightbox">{% endif %}
{% if path != null and bb.token == null and linkValue.link == 'image_link' %}<a href="{{ linkValue.options.url }}" {% if linkValue.options.link_target_blank %}target="_blank"{% endif %}>{% endif %}
<figure
  {% block data_item_attributes %}{% endblock %}
  {{this.bbcontent(null, {class: 'content figure ' ~ resizeClass ~ autoSizeClass ~ ' media-image'})|raw}}
  data-forbidden-plugins="click"
  {% set ratio = this.getObject().getParamValue('ratio') %}
  {% if ratio %}style="padding-top: {{ratio}}%;"{% endif %}
{% if bb.token != null %}
  {% set focus = this.getObject().getParamValue('focus') %}
  {% set left = focus['left'] ? focus['left'] : 0 %}
  {% set top = focus['top'] ? focus['top'] : 0 %}
  {% set resetPos = this.getObject().getParamValue('stretch') != this.getObject().getParamValue('stretch_state') %}
  data-focus='{"top":{{top}}, "left":{{left}}}'
  data-auto-width='{{this.getObject().getParamValue('stretch')}}'
  data-state='{{this.getObject().getParamValue('stretch_state')}}'
  data-width='{{this.getObject().getParamValue('width')}}'
  {% if resetPos %}data-reset-position{% endif %}
{% endif %}
>

  <div class="contentwrapper">
    {% set img_alt = description.value != false ? description.value|striptags : '' %}
    {% set coord = this.getObject().getParamValue('position') %}
    {% set left = coord['left'] ? coord['left'] : 0 %}
    {% set top = coord['top'] ? coord['top'] : 0 %}
    {% set imgWidth = this.getObject().getParamValue('width') ? (' width:' ~ this.getObject().getParamValue('width') ~ '%') : '' %}
    <img draggable="false" {% if path != false %}src="{{this.getCdnImageUrl(path)|raw}}"{% endif %} alt="{{img_alt}}" style="top:{{top}}%; left:{{left}}%;{{ imgWidth }}" />

    {% if display_overlay.value %}
      <span class="image-overlay{% if display_text_hover.value %} hover-display{% endif %}"></span>
    {% endif %}

    {% set picto = this.getObject().getParamValue('picto') %}
    {% if picto != '' %}
      <img src="{{this.getCdnImageUrl(picto)|raw}}"alt="" class="image-picto{% if display_text_hover.value %} hover-display{% endif %}">
    {% endif %}

    {% set imageBtnLink = linkValue.options.url %}
    {% set imageBtnTitle = linkValue.options.title %}
    {% set imageTitle = this.getObject().getParamValue('title') %}
    {% set imageDescription = this.getObject().getParamValue('description') %}

    <div class="above-content-wrapper text-{{text_position.value}}{% if display_text_hover.value %} hover-display{% endif %}{% if bb.token == null and imageTitle == null and imageDescription == null and imageBtnLink == null and imageBtnTitle == null %} hidden{% endif %}">
      {% if display_title.value or display_description.value %}
        <div class="textwrapper">

          {% if display_title.value %}
          <div data-parameter-rte="true" data-parameter-name="title" data-cloud-rte="true" class="is-h3 lead{% if display_text_hover.value %} hover-display{% endif %}">
            {{ imageTitle|raw }}
          </div>
          {% endif %}

          {% if display_description.value %}
          <figcaption data-parameter-rte="true" data-parameter-name="description" data-cloud-rte="true" class="is-h3 lead hidden-xs{% if display_text_hover.value %} hover-display{% endif %}">
            {{ imageDescription|raw }}
          </figcaption>
          {% endif %}

        </div>
      {% endif %}

      {% if linkValue.link == 'with_button' %}
        <div class="buttonwrapper text-center{% if display_text_hover.value %} hover-display{% endif %}">
          <a href="{{imageBtnLink}}" class="btn btn-{{linkValue.options.color}} btn-{{linkValue.options.size}} {{linkValue.options.font}} btn-{{ linkValue.options.form == false ? 'border' : 'full' }} {{ linkValue.options.radius == false ? 'no-radius' : '' }}">
            {{imageBtnTitle|default('Button title')|raw}}
          </a>
        </div>
      {% endif %}
    </div>
  </div>

</figure>
{% if path != null and bb.token == null and (linkValue.link == 'lightbox' or linkValue.link == 'image_link') %}</a>{% endif %}
{% endif %}
