{% set uid = this.getObject().getUid() %}
{% set mapParam = this.getObject().getParam('map') %}
{% set latlng = this.getObject().getParamValue('map') %}
{% set color = this.getObject().getParamValue('colors') %}

{% set height = this.getObject().getParamValue('height') %}
{% if height is not null %}
    {% set height = height ~ 'px' %}
{% endif %}

<div {{ this.bbcontent(null)|raw }}>
    {% if latlng is empty %}
        {% include 'common/missing_config_block.html.twig' %}
    {% else %}
        <div class="google-map resize-element" id="map_{{uid}}" {% if height is not null %}style="height: {{height}};"{% endif %}></div>
        <script>
            (function () {
                var script = document.createElement('script'),
                    scriptId = 'google-map-lib',
                    callback;

                if (window.googleMapLoaded === undefined) {
                    window.googleMapLoaded = false;
                }

                callback = function () {
                    var latLng,
                        map,
                        colors,
                        color,
                        marker;

                    latLng = {lat: {{ latlng.lat }}, lng: {{ latlng.lng}} };

                    // Create a map object and specify the DOM element for display.
                    map = new google.maps.Map(document.getElementById('map_{{uid}}'), {
                      center: latLng,
                      scrollwheel: false,
                      zoom: 13,
                      zoomControl: false,
                    });

                    colors = JSON.parse("{{ colors['colors']|json_encode() }}".replace(/&quot;/g,'"'));
                    color = colors["{{ color }}"];

                    map.setOptions({styles: color });

                    marker = new google.maps.Marker({
                      map: map,
                      position: latLng
                    });
                };

                var script = document.getElementById(scriptId);
                if (null === script) {
                    script = document.createElement('script')
                    script.src = 'https://maps.googleapis.com/maps/api/js?key={{ mapParam.api_key }}';
                    script.id = scriptId;

                    script.addEventListener('load', function() {
                        window.googleMapLoaded = true;
                        callback();
                    }, false);

                    document.getElementsByTagName('head')[0].appendChild(script);
                } else {
                    if (!window.googleMapLoaded) {
                        script.addEventListener('load', callback, false);
                    } else {
                        callback();
                    }
                }
            })()
        </script>
    {% endif %}
</div>
