<div {{this.bbcontent(null, {class: 'content video'})|raw}} {% block data_attributes %}{% endblock %}>
{% if src is empty %}
  {% include 'common/missing_config_block.html.twig' %}
{% else %}
  <div class="d-flex justify-content-{{ position }}">
    <div class="w-{{size}}">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe title="Video" class="embed-responsive-item edit-iframe" src="{{src}}" {{attributes}}></iframe>
      </div>
    </div>
  </div>
{% endif %}
</div>
